# ColdBox Name and Environment
APPNAME=adobe-temp
ENVIRONMENT=development

# Database Information
DB_CONNECTIONSTRING=jdbc:macromedia:sqlserver://localhost:1433;SelectMethod=direct;sendStringParametersAsUnicode=false;querytimeout=0;MaxPooledStatements=100;jdbcbehavior=0
DB_CLASS=macromedia.jdbc.MacromediaDriver
DB_DRIVER=MSSQL
DB_HOST=127.0.0.1
DB_PORT=1433
DB_DATABASE=adobe-temp
DB_USER=sa
DB_PASSWORD=yourpasswordhere
